<div class="change-password-container">
    <h2>Change Password</h2>
    
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" />
        <div *ngIf="submitted && changePasswordForm.get('oldPassword')?.invalid">
          Old Password is required
        </div>
      </div>
  
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" />
        <div *ngIf="submitted && changePasswordForm.get('newPassword')?.invalid">
          New Password is required (min 6 characters)
        </div>
      </div>
  
      <div>
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" />
        <div *ngIf="submitted && changePasswordForm.hasError('mismatch')">
          Passwords do not match
        </div>
      </div>
  
      <button type="submit">Change Password</button>
  
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
      
      <div *ngIf="successMessage" class="success">
        {{ successMessage }}
      </div>
    </form>
  </div>
  