<nav class="navbar">
     <div class="logo">
      <a href="#">MyApp</a>
    </div>
  
     <ul class="nav-items">
      <li *ngFor="let item of navItems" [class.active]="item.isActive">
        <a [routerLink]="item.path" (click)="setActive(item)">{{ item.name }}</a>
      </li>
    </ul>
  
     <div class="mobile-menu-toggle" (click)="toggleMobileNav()">
      <i class="fas fa-bars"></i>
    </div>
  
     <div class="mobile-nav" [ngClass]="{'open': isMobileNavOpen}">
      <ul>
        <li *ngFor="let item of navItems" [class.active]="item.isActive">
          <a [routerLink]="item.path" (click)="setActive(item); toggleMobileNav()">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </nav>
  